.main{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  p{
    font-size: 1.6rem;
    color: rgba(253, 33, 235, 0.48);
  }

  .blink_me {
    //animation: blinker 1s linear infinite;
    animation: blinker 1s alternate infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

}




