.add {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;


  input {
    padding: .2rem;
    background-color: #00adab;

    &:hover{
      background-color: rgba(0, 173, 171, 0.39);
    }
    &:focus{
      background-color: rgba(0, 173, 171, 0.39);

    }
  }

  button {
    padding: .2rem;
    background-color: #00adab;
    color: white;
    margin: 0 .5rem;

    &:hover{
      background-color: rgba(0, 173, 171, 0.39);
    }
  }
}
