.text {
  width: 10rem;
}

.input {
  text-align: center;

  background-color: #2d3a44;
  margin-right: 1rem;
  color: #1c8a87;
  padding: .2rem .6rem;

  &:focus {
    background-color: #d6e2ea;
    color: #fd21eb;
  }
}

.isText {
  color: rgba(232, 236, 238, 0.67);
  font-size: 1.3rem;
}

.isInput {
  text-align: center;
  font-size: 1rem;
  padding: .1rem;
  background-color: rgba(0, 173, 171, 0.09);

  &:hover {
    background-color: rgba(0, 173, 171, 0.39);
  }

  &:focus {
    background-color: rgba(0, 173, 171, 0.39);

  }
}

.isDone {
  text-decoration: line-through;
  //text-decoration-color: #1d7bff;
  text-decoration-color: #ffffff;

    background-color: rgba(255, 222, 15, 0.13);
    background-image: linear-gradient(85deg, rgb(9, 0, 0), rgba(253, 33, 235, 0.41));
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
