.text {
  width: 10rem;
}

.input {
  text-align: center;

  background-color: #2d3a44;
  margin-right: 1rem;
  color: #1c8a87;
  padding: .2rem .6rem;

  &:focus {
    background-color: #d6e2ea;
    color: #fd21eb;
  }
}

.isText {
  color: rgba(232, 236, 238, 0.67);
  font-size: 1.3rem;
}

.isInput {
  text-align: center;
  font-size: 1rem;
  padding: .1rem;
  background-color: rgba(0, 173, 171, 0.09);

  &:hover {
    background-color: rgba(0, 173, 171, 0.39);
  }

  &:focus {
    background-color: rgba(0, 173, 171, 0.39);

  }
}

.isDone {
  text-decoration: line-through;
  color: white;
}
