.main {
  height: 6%;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(98, 137, 151, 0.47);

  .gradient-text {
    background-color: #fd21eb;
    background-image: linear-gradient(25deg, #fcfaec, #628997);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .title{
    color: #fbfafc;
    margin: 0 auto;
    font-size: 1.5rem;
  }
  button{
    margin-right: 1rem;
    padding: .2rem .6rem;
    border-radius: .5rem;
    background-color: #628997;
    color: #fbfafc;
  }
}
