.task {
  border-radius: .3rem;
  padding: .6rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(249, 248, 248, 0.57);
  color: black;
  margin: 0 0 .5rem 0 ;

  input {
    width: 1.2rem;
  }
  button{
    padding: .2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 173, 171, 0.34);
  }
}
