<div class="main">
  <div class="r">
    <p>To log in get registered
      <a href="https://social-network.samuraijs.com/" target="_blank">here</a>
    </p>
    <p>or use common test account credentials:</p>
    <p>Email: free@samuraijs.com</p>
    <p>Password: free</p>
  </div>

  <div class="login">
    <div class="title">
      {{title}}
    </div>
    <input type="text" placeholder="eMail" [(ngModel)]="email">
    <input type="password" placeholder="password" [(ngModel)]="pass">
    <button (click)="this.logIn()">logIn</button>
  </div>
</div>
