.main {
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(98, 137, 151, 0.47);

  .r {
    color: rgba(118, 151, 162, 0.55);
    margin-bottom: 2rem;
    font-size: .7rem;

    a{
      color: rgba(253, 33, 235, 0.55);
    }
    p{
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  .login {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: rgba(14, 0, 0, 0.35);

    .title {
      color: #00adab;
      margin-bottom: 1rem;
    }

    input {
      padding: .2rem;
      background-color: #00adab;
      margin-bottom: 1rem;

      &:hover {
        background-color: rgba(0, 173, 171, 0.39);
      }

      &:focus {
        background-color: rgba(0, 173, 171, 0.39);

      }
    }

    button {
      padding: .2rem 1rem;
      background-color: #00adab;
      color: white;
      margin: 0 .5rem;

      &:hover {
        background-color: rgba(0, 173, 171, 0.39);
      }
    }
  }
}
