.main {
  background: rgba(0, 173, 171, 0.28);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainII {
  width: 300px;
  position: absolute;
  top: 32rem;
  left: 1rem;
  padding: 6px;
  border-radius: 1rem;
  border: 2px rgba(255, 7, 197, 0.43) solid;
  background-color: rgba(0, 16, 16, 0.22);

  h1 {
    text-align: center;
    margin: 1rem 0;
    color: rgba(0, 173, 171, 0.82);
  }
}
